# Mongo DB variables
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=chronicle
MONGO_REPLICA_HOST=host.docker.internal
MONGO_REPLICA_PORT=27018

# Server configurations
DATABASE_URL=mongodb://admin:password@mongo_replica:27018/chronicle?authSource=admin
# Could be DEV or STAGING or PROD
CHRONICLE_ENV=DEV